<html>
  <body>
    <p><%= title %></p>
    <a href="/new">Send a message</a>
    <ul>
      <% messages.forEach((message) => { %>
      <li>
        <%= message.username %>: <%= message.text %>
        <br />
        Date: <%= message.date.toDateString() %>
        <br />
        <a href="/message/<%= message.id %>">Open</a>
      </li>
      <% }); %>
    </ul>
  </body>
</html>
